<style>
  .cat-picture {
    width: 100%;
    height: auto;
  }

  #my-cat-fact {
    color: limegreen;
    text-align: center;
    margin-top: 1em;
    font-size: 3em;
  }
</style>

<div class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-4">
    <img src="img/logo.png" class="w-100" style="max-width:120px;" />
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">Jack and BLAHAJ's incredible Cat Facts app</h1>
      <h2 class="h4 text-gray font-weight-light">Build your hackathon project "faster"*.</h2>
      <p>* terms and conditions apply. see github for more details.</p>
    </div>
    <a class="btn btn-primary mt-2" href="#" onClick="getCatFact()"> Get a Fact about Cats because I like Cats </a>

    <div id="my-cat-fact"></div>
  </div>
</div>


<script>

function getCatFact() {
  fetch('https://cat-fact.herokuapp.com/facts')
  .then(
    function(response) {
      if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
          response.status);
        return;
      }

      // Examine the text in the response
      response.json().then(function(data) {
        console.log(data);
        const random = data[Math.floor(Math.random() * data.length)];

        document.getElementById("my-cat-fact").innerHTML = random['text'];
      });
    }
  )
  .catch(function(err) {
    console.log('Fetch Error :-S', err);
  });
}
</script>

<div class="text-gray-light text-center py-5 my-5">
  <img src="https://c.files.bbci.co.uk/12A9B/production/_111434467_gettyimages-1143489763.jpg" class="cat-picture" />
</div>